
/* The styles for the header */
.jumbotron {
    position: relative;
    height: 350px;
    padding: 20px;
    margin: 0;
    color: rgb(250, 246, 246);
    background: rgb(151, 147, 147);
    background-image: url("../Images/background.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    
}

.jumbotron h1{
    color: white;
}

/* The body color */
body {
    background-color: rgb(178, 198, 211);
    
}

/* The panel properties */
.panel-heading {
  /* Chrome/Opera/Safari */
    color: white;
    background-color: rgb(230, 143, 96);
    height: 50px;
    padding: 10px;
    margin: 0;
}

#sample-metadata {
    background-color: #f3efef;
    font-size: 10;
}

/* Plot properties */
#bubble {
    display: flex;
    justify-content: center;
}

#gauge {
    display: flex;
    justify-content: right;
}
